.main-section{
  background-color: darkslateblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.clock-holder{
  background-color: white;
  width: 600px;
  height: 180px;
  padding-top: 40px;
}
.stop-watch{
  text-align: center;
}

@media screen and (max-width:600px){
  .clock-holder{   
    width: 400px;   
  }
}